<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<body>
<section layout:fragment="custom-content">
	<a href="/main">To messages list</a>
	<h2>Users:</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user: ${users}">
	           <td><span th:text="${user.username}"></span></td>
	           <td><strong th:text="${user.roles}"></strong></td>
	           <td><a th:href="@{'/user/' + ${user.id}}">Edit</a></td>
		    </tr>
	   	</tbody>
   	</table>
   	</section>
</body>
</html>